.chart{
    flex: 4;
    -webkit-box-shadow: 5px 8px 10px 0px #fff;
    box-shadow: 5px 8px 10px 0px #afacac;
    padding: 10px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgb(228, 225, 225);
    }
}